data/
!src/data
/venv/
notebooks/
logs/
old_logs/
old_logs2/

planning/models
planning/results*

/bash_runs
/configs_tests

!configs_tests/update_conf_for_tests.yaml

.vscode

*__pycache__*
*__init__.py*
*.out*
nohup.out
*logs*

notebooks/