data/
!src/data
/venv/
notebooks/
logs/
old_logs/
old_logs2/
files/
src/model/lit_model/mnist_data
planning/models
planning/results*
*.png

/bash_runs
/configs_tests

!configs_tests/update_conf_for_tests.yaml

.vscode

*__pycache__*
*__init__.py*
*.out*
nohup.out
*logs*

